@import '../utils/variables.scss';

.PersonaSpace--Nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color-blue;
    height: 10vh;
    
    .Login--Nav--Logo--personalpage{
        width: 15rem;
        margin-left: 1rem;
        position: relative;
    }

    .material-symbols-outlined {
        padding-left: 1rem;
        margin-right: 1rem;
        color: white;
        font-variation-settings: "FILL" 0, "wght" 800, "GRAD" 0, "opsz" 60;
    }
}

