// Flex center column
@mixin flex-center($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin flex-right($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items:flex-start;
}