//Button position, font and hover
@mixin button-styles {
    
    display: inline-block;
    height: 2.5rem;
    font-family: "Inter", sans-serif;
    font-size: $font-size-p;
    color: #fff;
    border-radius: 7px;
    border: 1px solid $primary-color-grey;
    &:hover {
        box-shadow: 0 0 10px $primary-color-grey;
    }
}

button.btn-login {
    
    @include button-styles;
    background-color: $primary-color-blue;
    color: white;
    border: none;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 0.5rem;
    //margin-top: 1rem;
}

button.btn-account {
    @include button-styles;
    background-color: #d1515a;
    color: white;
    border: none;
    width: 60%;
    margin-left: 20%
}
