@import "../components/buttons.scss";
@import "../utils/mixins.scss";


.personalspace-block{
    width: 35%;
    @include flex-center(column);
    margin: auto;
    background-color: white;
    height: 50vh;
    border-radius: 7px;
    font-size: $font-size-p;

    form {
        
        width: 100%;
        max-width: 400px;
        
        .form-group {
            margin: 0.5rem;
            display: flex;
            justify-content: center;

            input[type="email"],
            input[type="password"],
            input[type="firstName"],
            input[type="lastName"],
            input[type="departament"] {
                font-family: "Inter", sans-serif;
                font-size: $font-size-p;
                width: 90%;
                height: 2.5rem;
                border-radius: 7px;
                border: 1px solid $primary-color-grey;
                padding-left: 0.5rem;
                font-family: "Inter", sans-serif;
                &:focus {
                    outline: none;
                    box-shadow: inset 0 -1px 0 $primary-color-blue;
                }
            }
        }
    }
}



