@import "../components/buttons.scss";
@import "../utils/mixins.scss";
//Email/password & buttons block


.login-registration-block {
    width: 35%;
    @include flex-center(column);
    margin: auto;
    background-color: $secondary-color-grey;
    height: 40vh;
    border-radius: 7px;


    form {
        
        width: 100%;
        max-width: 400px;
        
        
        
        .form-group {
            margin: 0.3rem;
            display: flex;
            justify-content: center;
            
            input[type="email"],
            input[type="password"],
            input[type="firstName"],
            input[type="lastName"],
            input[type="departament"] {
                width: 80%;
                height: 2rem;
                border-radius: 7px;
                border: 1px solid $primary-color-grey;
                padding-left: 0.5rem;
                font-family: "Inter", sans-serif;
                &:focus {
                    outline: none;
                    box-shadow: inset 0 -1px 0 $primary-color-blue;
                }
            }
        }
    }
}



