@import "../layouts/nav--login-signup";
@import "../utils/variables";
@import "../components/form--login-signup";
@import "../utils/resets.scss";

//Main container
.LoginSignup--Main {
    @include flex-center(row);
    background-color: $primary-color-grey;
    height: 90vh;

    //Name of the website in the main container
    .titles {
        margin: auto;
        h1 {
            font-size: 4rem;
            color: white;
        }
    }

}
